<!DOCTYPE html>
<html lang="ua">

<head>
  <link rel="stylesheet" href="/styles/posts.css">
  <link rel="stylesheet" href="/styles/base.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <main id="container">
    <h1>Наявні об'єкти</h1>
    <a href="/posts">CLICK</a>
  </main> 
</body>

</html>
